@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.inputField {
  @apply border-b-2 border-black transition-colors duration-500
}

.inputField:focus {
  @apply outline-none border-sky-400
}

.btn-hover {
  @apply bg-sky-400 font-bold text-base text-white px-3 py-1.5 cursor-pointer rounded-xl;
}

@media(hover: hover){
  .btn-hover:hover {
    @apply bg-sky-600;
  }
}